<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleName</key>
	<string>Timesync</string>
	<key>CFBundleIdentifier</key>
	<string>com.dolmios.timesync</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>ATSApplicationFontsPath</key>
	<array>
		<string>Assets/Fonts/standard-book.otf</string>
		<string>Assets/Fonts/standard-bold.otf</string>
		<string>Assets/Fonts/standard-book-italic.otf</string>
		<string>Assets/Fonts/standard-bold-italic.otf</string>
	</array>
</dict>
</plist>
